<div class="container text-center">
<div class="answer">
  <p class="people">You: </p>
  <p class="text"><%= @query %></p>
  <p class="people">Coach's answer: </p>
  <p class="text"><%= coach_answer %></p>
</div>
<div class="link"><%= link_to "Ask a new question", ask_path %></div>
</div>
